<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>THE FIDDLER</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="container">
    <header>
      <h1>THE FIDDLER</h1>
      <h5>COMMUNITY-DRIVEN FIDGET SPINNER</h5>
    </header>
    
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <a href="https://github.com/NorthernTwig/take-it-for-a-spin" class="href" target="_blank" rel="noopener noreferrer"><img class="octocat" src="/images/GitHub-Mark-Light-32px.png" alt="octocat" /></a>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
